﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="position:absolute; margin: 0 auto; left: 0; right: 0; width: 200px;">
    <br>
    <p>Usuario: </p>
    <input class="text" name="text" id="user" />
    <br>
    <p>Contraseña: </p>
    <input class="text" name="text" id="pss" />
</div>